@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* General */
body{
  background-color: black;
  width: 100vw;
}

.container{
  width: 1180px;
  height: 3553px;
  position: relative;
  overflow: hidden;
  margin: auto;
  background-color: #98cdde;
}

.one-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image {
  height: 400px;
  min-width: 400px;
}

a{
  text-decoration: none;
  color: black;
}

#popUpContainer{
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

#popUp{
  background-color: white;
  width: 70%;
  height: 80%;
  position: fixed;
  top: 5%;
  left: 15%;
  z-index: 1000;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  overflow: auto;
}

#popUp .continue-btn {
  background-color: #436ea9	;
  font-family: 'Ribeye Marrow', cursive;
  box-shadow: 10px 5px 5px grey;
  font-size: 1.2rem;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#popUp .continue-btn:active{
  box-shadow: 7px 3px 3px grey;
  transform: translateY(2px);
}

#popUp .picture-title{
  font-family: 'Ribeye Marrow', cursive;
  font-size: 1.5rem;
}

#popUp .story{
  font-family: 'Raleway', sans-serif;
}

#popUp a{
  color:#436ea9;
  font-weight: bolder;
  text-decoration: underline;
}

#popUp .popup-image img{
  width: 80%;
}

/* Intro */
.intro{
  z-index: 10;
  text-align: center;
  color: white;
  position: absolute;
}

.intro button{
  background-color: transparent;
  padding: 0px;
  border: none;
  outline: none;
  color: white;
}

.intro h2{
  font-family: 'Ribeye Marrow', cursive;
  font-size: 3.5rem;
  margin: 0;
  margin-top: 20px;
}

.intro p, .intro h4{
  padding:0 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

#start-btn{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #ffe041;
  border: none;
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;
  outline: none;
}

#start-btn:hover{
  background-color: #ffd502;
  font-weight: bolder;
}

#start-btn:active{
  background-color: #ffd502;
  box-shadow: 7px 3px 3px grey;
  transform: translateY(2px);

}


/* Images */

.big-house{
  background-image: url('./public/images/big-house-on-middle.png');
  background-size: cover;
}

.house-left{
  background-image: url('./public/images/house-on-left.png');
  background-size: cover;
}

.small-houses{
  background-image: url('./public/images/small-houses-middle.png');
  background-size: cover;
}

.restaurant-terrace{
  background-image: url('./public/images/restaurant-terrace-left.png');
  background-size: cover;
}

.lava{
  background-image: url('./public/images/lava.png');
  background-size: cover;
}

.smoke{
  background-image: url('./public/gifs/smoke.gif');
  background-size: cover;
  cursor: pointer;
}

.volcano{
  background-image: url('./public/images/volcano.png');
  background-size: cover;
}

.side-volcano{
  background-image: url('./public/images/side-volcano.png');
  background-size: cover;
}

.big-path{
  width: 500px;
  height: 290px;
  background-color: #f6e8db;
  border-right: 3px solid black;
  border-top: 3px solid black;
}

.small-path{
  width: 150px;
  height: 62px;
  background-color: white;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;;
}

.stairs-to-right{
  background-image: url('./public/images/stairs-to-right.png');
  background-size: cover;
}

.stairs-to-left{
  background-image: url('./public/images/stairs-to-left.png');
  background-size: cover;
}

.cliff-left{
  background-image: url('./public/images/cliff-left.png');
  background-size: cover;
}

.cliff-left-straight{
  background-image: url('./public/images/cliff-left-straight.png');
  background-size: cover;
}

.church-left{
  background-image: url('./public/images/church-on-left.png');
  background-size: cover;
}

.sea {
  height: 200px;
  background-image: url('./public/images/sea.png');
  background-size: cover;
  background-position: bottom;
  z-index: 1000;
}

.port {
  background-image: url('./public/images/port.png');
  background-size: cover;
  z-index: 1000;
  position: relative;
  left:-5px;
}

.boat {
  background-image: url('./public/images/boat.png');
  background-size: cover;
  position: absolute;
  z-index: 4;
  /* initial 3870 */
  top: 3220px;
  left: 550px;
  min-width: 300px;
  height: 300px;
  cursor: pointer;
}

.bell-tower{
  background-image: url('./public/images/bell-tower.png');
  background-size: cover;
}

.cliff{
  width: 800px;
  background-color: #f6e8db;
  height: 800px;
  z-index: auto;
  position: relative;
  bottom: 800px;
  left: 400px;
}

.cliff2{
  width: 600px;
  background-color: #f6e8db;
  height: 550px;
  z-index: auto;
  position: relative;
  bottom: 2150px;
  left: 600px;
}

.donkey{
  width: 100px;
  height: 100px;
  top: 3362px;
  left: 890px;
  z-index: 1000;
  position: absolute;
  background-image: url(./public/gifs/donkey.gif);
  background-size: cover;
  cursor: pointer;
}

.cat{
  width: 100px;
  height: 100px;
  top: 2802px;
  left: 590px;
  z-index: 5;
  position: absolute;
  background-image: url(./public/gifs/cat.gif);
  background-size: cover;
  cursor: pointer;
}

.cat2{
  width: 50px;
  height: 50px;
  top: 2298px;
  left: 840px;
  z-index: 5;
  position: absolute;
  background-image: url(./public/gifs/cat2.gif);
  background-size: cover;
  cursor: pointer;
}

.seagull{
  width: 150px;
  height: 150px;
  top: 2897px;
  left: 300px;
  z-index: 5;
  position: absolute;
  background-image: url(./public/gifs/seagull.gif);
  background-size: cover;
  cursor: pointer;
}

.sun{
  width: 150px;
  height: 150px;
  top: 1953px;
  left: 350px;
  z-index: 2;
  position: absolute;
  background-image: url(./public/gifs/sun.gif);
  background-size: cover;
  cursor: pointer;
}

.plant{
  width: 100px;
  height: 100px;
  top: 2805px;
  left: 1090px;
  z-index: 3;
  position: absolute;
  background-image: url(./public/gifs/plant.gif);
  background-size: cover;
  cursor: pointer;
}

.plant2{
  width: 60px;
  height: 60px;
  top: 3393px;
  left: 1120px;
  z-index: 1000;
  position: absolute;
  background-image: url(./public/gifs/plant2.gif);
  background-size: cover;
  cursor: pointer;
}

.palmtree{
  width: 100px;
  height: 200px;
  top: 2168px;
  left: 1080px;
  z-index: 2;
  position: absolute;
  background-image: url(./public/gifs/palmtree.gif);
  background-size: cover;
  cursor: pointer;
}

.palmtree-small{
  width: 50px;
  height: 100px;
  top: 2268px;
  left: 1040px;
  z-index: 2;
  position: absolute;
  background-image: url(./public/gifs/palmtree.gif);
  background-size: cover;
  cursor: pointer;
}

.greek{
  width: 50px;
  height: 50px;
  top: 2648px;
  left: 500px;
  z-index: 3;
  position: absolute;
  background-image: url(./public/gifs/greek.gif);
  background-size: cover;
  cursor: pointer;
}

.selfie{
  width: 120px;
  height: 120px;
  top: 2228px;
  left: 600px;
  z-index: 3;
  position: absolute;
  background-image: url(./public/gifs/selfie.gif);
  background-size: cover;
  cursor: pointer;
}

.filming{
  width: 120px;
  height: 120px;
  top: 2788px;
  left: 728px;
  z-index: 4;
  position: absolute;
  background-image: url(./public/gifs/filming.gif);
  background-size: cover;
  cursor: pointer;
}

.walking{
  width: 150px;
  height: 150px;
  top: 2407px;
  left: 650px;
  position: absolute;
  background-image: url(./public/gifs/walking.gif);
  background-size: cover;
  cursor: pointer;
}

.walking2{
  width: 150px;
  height: 150px;
  top: 3135px;
  left: 550px;
  z-index: 2;
  position: absolute;
  background-image: url(./public/gifs/walking2.gif);
  background-size: cover;
  cursor: pointer;
}

.walking3{
  width: 100px;
  height: 100px;
  top: 2303px;
  left: 1200px;
  z-index: 1;
  position: absolute;
  background-image: url(./public/gifs/walking3.gif);
  background-size: cover;
  cursor: pointer;
}

.fish{
  width: 700px;
  height: 108px;
  top: 3453px;
  left: 100px;
  z-index: 1000;
  position: absolute;
  background-image: url(./public/gifs/fish.gif);
  background-size: cover;
  cursor: pointer;
}

.sleepingcat{
  width: 100px;
  height: 50px;
  top: 2663px;
  left: 1110px;
  z-index: 1000;
  position: absolute;
  background-image: url(./public/gifs/sleepingcat.gif);
  background-size: cover;
  cursor: pointer;
}

.seagull2{
  width: 120px;
  height: 68px;
  top: 2558px;
  left: 250px;
  z-index: 3;
  position: absolute;
  background-image: url(./public/gifs/seagull2.gif);
  background-size: cover;
  cursor: pointer;
}

.gyros{
  width: 101px;
  height: 56px;
  top: 3203px;
  left: 250px;
  z-index: 3;
  position: absolute;
  background-image: url(./public/gifs/gyros.gif);
  background-size: cover;
  cursor: pointer;
}

/* Rows */
.row-9{
position: relative;
bottom: -1850px;
}

.row-9 .lava{
  position: relative;
  left: 800px;
}

.row-9 .smoke{
  position: relative;
  left: 320px;
  bottom: 205px;
}

.row-8{
  position: relative;
  bottom: -1610px;
  left: 330px;
}

.row-8 .image{
  min-width: 200px;
  z-index: 3;
}

.row-8 .big-house, .row-8 .bell-tower {
  background-position: center;
  position: relative;
  right: 30px;
  cursor: pointer;
}

.row-8 .bell-tower{
  right: 102px;
  z-index: 2;
}

.row-8 .church-left{
  position: relative;
  bottom: 2px;
}

.row-8 .small-path{
  position: relative;
  right: 110px;
  min-width: 150px;
}

/* ------------ */
.row-7{
  position: relative;
  bottom: -1342px;
  left: 80px;
}
.row-7 .stairs-to-left{
  height: 200px;
  background-position: bottom;
  position: relative;
  z-index: 3;
}

.row-7 .small-houses{
  position: relative;
  left: 80px;
  z-index: 2;
}

/* ------------ */
.row-6{
  position: relative;
  bottom: -1109px;
}

.row-6 .restaurant-terrace{
  position: relative;
  z-index: 2;
  right: 100px;
}

.row-6 .stairs-to-right{
  z-index: 4;
  position: relative;
  right: 4px;
}

.row-6 .cliff-left-straight{
  position: relative;
  left: 418px;
  z-index: 1;
}

/* ------------ */
.row-5{
  position: relative;
  bottom: -934px;
  left: 320px;
}

.row-5 .church-left{
  position: relative;
  left: 100px;
  bottom: -30px;
  z-index: 2;
}

.row-5 .stairs-to-left{
  position: relative;
  bottom: 28px;
  left: 50px;
  z-index: 2;
}

.row-5 .big-path{
  position: relative;
  min-width: 550px;
  height: 193px;
  right: 380px;
  bottom: -162px;
  z-index: 2;
}

/* ------------ */
.row-4{
  position: relative;
  bottom: -700px;
}

.row-4 .cliff-left-straight{
  position: relative;
  left: 455px;
  z-index: 1;
}

.row-4 .small-houses{
  position: relative;
  left: -8px;
  z-index: 2;
}

.row-4 .house-left{
  position: relative;
  right: 160px;
  z-index: 4;
}

.row-4 .stairs-to-left{
  position: relative;
  right: 370px;
  z-index: 4;
}

/* ------------ */
.row-3{
  position: relative;
  bottom: -465px;
  left: 80px;
}

.row-3 .restaurant-terrace{
  position: relative;
  left: 60px;
  z-index: 3;
}

.row-3 .small-houses{
  position: relative;
  right: 25px;
  z-index: 2;
}

.row-3 .stairs-to-right{
  position: relative;
  right: 90px;
  z-index: 2;
}

/* ------------ */
.row-2{
  position: relative;
  bottom: -261px;
  left: -100px;
}

.row-2 .stairs-to-left{
  z-index: 2;
}

/* Animations */
@keyframes boattrip {
  from {
    left:0px;
  } to {
    left:550px;
  }
}

@keyframes waves{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes roulis{
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes walking {
  0% {
    left :650px;
    z-index: 5;
  } 
  37%{
    z-index: 3;
  }
  50% {
    left :1180px;
    transform: scaleX(1);
    z-index: 2; 
  }
  51% {
    transform: scaleX(-1);
    z-index: 2;
  }
  99%{
    transform: scaleX(-1);
    z-index: 5;
  }
  100% {
    left : 650px;
    transform: scaleX(1);
    z-index: 5;
  }
}

@keyframes walking2 {
  0% {
    left :250px;
  } 
  50% {
    left :1200px;
    transform: scaleX(1); 
  }
  51% {
    transform: scaleX(-1);
  }
  99%{
    transform: scaleX(-1);
  }
  100% {
    left : 250px;
    transform: scaleX(1);
  }
}

@keyframes walking3{
  0% {
    top: 2303px;
    left: 1200px;
    transform: scaleX(-1)
  } 
  50% {
    top: 2103px;
    left: 900px;
    transform: scaleX(-1); 
  }
  51% {
    transform: scaleX(1);
  }
  99%{
    transform: scaleX(1);
  }
  100% {
    top: 2303px;
    left: 1200px;
    transform: scaleX(-1);
  }
}

@keyframes flying{
  0% {
    left :250px;
  } 
  50% {
    left :0px;
    transform: scaleX(1); 
  }
  51% {
    transform: scaleX(-1);
  }
  99%{
    transform: scaleX(-1);
  }
  100% {
    left : 250px;
    transform: scaleX(1);
  }
}

.seagull2{
  animation: flying 15s linear infinite;
}

.walking{
  animation: walking 15s linear infinite;
}

.walking2{
  animation: walking2 20s linear infinite;
}

.walking3{
  animation: walking3 15s linear infinite;
}

.boat{
  animation: boattrip 60s, roulis 5s infinite;
}

.sea{
  animation-duration: 5s;
  animation-name: waves;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 1180px){
  body{
    margin: 0;
    padding: 0;
  }

  #popUp{
    width: 87vw;
    height: 92vh;
    left: 0;
    top: 0;
  }

  .intro{
    width: 100vw;
    left: 0;
  }

  .intro p, .intro h4{
    padding:0 20px;
  }
}
